.dark-logo{
    width: 70%;
}

.navbar-nav{
    margin-bottom: 64px;
}
.admincard{
    color: #fff;
}

#card1{
    background-color: #007BFF;
}

#card2{
    background-color:  #28A745;
}

#card3{
    background-color: #6C757D;
}

#card4{
    background-color: #007BFF;
}

#card5{
    background-color: #28A745;
}

#card6{
    background-color: #6C757D;
}